{% extends "base.html" %} {% block content %}

<!------------------ Category Table ---------------->

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Book ID</th>
      <th scope="col">Book ID</th>
      <th scope="col">Category</th>
      <th scope="col">Edition</th>
      <th scope="col">Copies</th>
    </tr>
  </thead>
  <tbody>
    {% for b in books %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{b.id}}</td>
      <td>{{b.name}}</td>
      <td>{{b.category.category_name}}</td>
      <td>{{b.edition}}</td>
      <td>{{b.copies}}</td>
    </tr>
    {% endfor %}
  </tbody>
  {% endblock %}
</table>
