{% extends "base.html" %} {% block content %}
<!-- register form -->
<div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
  <div class="wrapper wrapper--w960">
    <div class="card card-2">
      <div class="card-heading"></div>
      <div class="card-body">
        <h2 class="title">Registration Info</h2>
        <form method="POST">
          {% csrf_token %} {% if messages %} {% for message in messages%}
          <div
            class="alert alert-warning alert-dismissible fade show"
            role="alert"
          >
            {{message}}
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          {% endfor %} {% endif %}
          <div class="input-group">
            <input
              class="input--style-2"
              type="text"
              placeholder="Name"
              name="name"
            />
          </div>
          <div class="row row-space">
            <div class="col-2">
              <div class="input-group">
                <input
                  class="input--style-2 js-datepicker"
                  type="text"
                  placeholder="Birthdate"
                  name="birthday"
                />
                <i
                  class="zmdi zmdi-calendar-note input-icon js-btn-calendar"
                ></i>
              </div>
            </div>
            <div class="col-2">
              <div class="input-group">
                <div class="rs-select2 js-select-simple select--no-search">
                  <select name="gender">
                    <option selected="selected">Gender</option>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                  </select>
                  <div class="select-dropdown"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row row-space">
            <div class="col-2">
              <div class="input-group">
                <div class="rs-select2 js-select-simple select--no-search">
                  <select name="course">
                    <option selected="selected">Course</option>
                    <option>BCT</option>
                    <option>BCE</option>
                    <option>BEI</option>
                  </select>
                  <div class="select-dropdown"></div>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="input-group">
                <div class="rs-select2 js-select-simple select--no-search">
                  <select name="year">
                    <option selected="selected">Year</option>
                    <option>I</option>
                    <option>II</option>
                    <option>III</option>
                    <option>IV</option>
                  </select>
                  <div class="select-dropdown"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row row-space">
            <div class="col-2">
              <div class="input-group">
                <input
                  class="input--style-2"
                  type="text"
                  placeholder="Contact Number "
                  name="contact"
                />
              </div>
            </div>

            <div class="col-2">
              <div class="input-group">
                <input
                  class="input--style-2"
                  type="email"
                  placeholder="Enter your email id"
                  name="email"
                />
              </div>
            </div>
          </div>
          <div class="row row-space">
            <div class="col-2">
              <div class="input-group">
                <input
                  class="input--style-2"
                  type="password"
                  placeholder="Password"
                  name="password1"
                />
              </div>
            </div>
            <div class="col-2">
              <div class="input-group">
                <input
                  class="input--style-2"
                  type="password"
                  placeholder="Confrom Password"
                  name="password2"
                />
              </div>
            </div>
          </div>
          <div class="p-t-30">
            <button class="btn btn--radius btn--green" type="submit">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
