{% extends "base.html" %} {% block content %}
<!-- Return book form -->
<div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
  <div class="wrapper wrapper--w960">
    <div class="card card-2">
      <div class="card-heading"></div>
      <div class="card-body">
        <h2 class="title">Return Book</h2>
        <form method="POST">
          {% csrf_token %} {% if messages %} {% for message in messages%}
          <div
            class="alert alert-warning alert-dismissible fade show"
            role="alert"
          >
            {{message}}
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          {% endfor %} {% endif %}

          <div class="input-group">
            <input
              class="input--style-2"
              type="text"
              placeholder="Borrowers ID"
              name="borrowers_id"
            />
          </div>

          <div class="p-t-30">
            <button class="btn btn--radius btn--green" type="submit">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
